<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Dungeon Keeper II</string>
	<key>CFBundleExecutable</key>
	<string>DK2Metal</string>
	<key>CFBundleIdentifier</key>
	<string>com.dungeonkeeperfx.dk2metal</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Dungeon Keeper II</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>GCSupportsGameMode</key>
	<false/>
	<key>LSSupportsGameMode</key>
	<false/>
	<key>MetalCaptureEnabled</key>
	<false/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>metal</string>
	</array>
</dict>
</plist>
